.biomes__container{
    background-image: url('../../assets/images/montaña-lago.jpg');
    background-repeat: no-repeat;
}

.section__container{
    padding: 2em;
}


.underline{
    padding-top: 2.5em;
    border-top: 2px solid var(--gold);
}

.none{
    display: none;
}

@media (min-width : 550px){
    .biomes__container{
        background-image: none;
    }
    .none{
        display: initial;
    }

}


